body{
  background-color:violet;
}

#main{
  margin:0;
  top:0;
}
#title{
  text-align:center;
  color:purple;
  font-family:American Typewriter, serif;
}
#image{
  max-width:50%;
  height:auto;
  margin-left: 25%;
  display:block;
  border:5px solid black;
  border-radius:50px;
}


#img-caption{
  padding-top:10px;
  text-align:center;
}

#tribute-info{
  text-align:justify;
  font-style:italic;
  color:#191919;
  font-family:monospace;
  font-size: 18px;
  padding:30px;
  margin: 0 10px 0 10px;
  line-width:1.5;
  background-color:rgba(128,0,128,0.3);
}
#tribute-link{
  text-decoration:none;
  color:lightgray;
}